<% if user_signed_in? %>
  <%= turbo_frame_tag "cart" do %>
    <h1 class="mt-3 text-secondary">Cart</h1>
    <% if @cart.orderables.count > 0 %>
      <%= render "cart/orderables" %>
    <% else %>
      <p>Your cart is empty</p>
    <% end %>
  <% end %>
<% end %>