<p class="mt-3 h2">The app mimics a quite simple e-commerce shop.</p>
<p class="h2">A user can create an account.</p>
<p class="h2">Both roles are allowed - admin or user - to create.</p>
<p class="h2">Everyone can freely choose a role he or she wants for testing purposes.</p>
<p class="h2">Admin entity has more previleges, i.e manage goods, see order history of all users, etc.</p>
<p class="h2">User entity can only buy goods from the shop and access it's own orders history.</p>
<p class="h2">By pressing "Confirm" button, a user "Pays" for the order, the order gets recorded to the DB.</p>