@import "../../assets/styles/mixins";
@import "../../assets/styles/vars";

.styledInput {
    max-width: 100px;
    padding: 0px 18px;

    border-radius: 12px;
    border: 1px solid rgba(18, 20, 23, 0.1);

    color: $black-text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375;

    &::placeholder {
        opacity: 1;
    }
}