.itemsWrapper {
  margin-top: 20px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.controlsWrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.title {

}
