
    <footer class="border-top py-3 bg-light">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
            <p class="col-md-4 mb-0 text-body-secondary">
                © 2023 
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://github.com/001elijah"
                >
                    001elijah
                </a>
            </p>
        
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">About</a></li>
            </ul>
        </div>
    </footer>
